<div class="panel panel-primary" style="padding: 1px">
  <div class="panel-heading">
    <h2 class="panel-title">Campaign List</h2>
  </div>
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-strong">

    <th>title</th>
    <th>authors</th>
    <th>publisher</th>
    <th>status</th>
    <th>marked</th>
    <td>detail</td>
    </thead>
    <tbody>
    {{#each bookSearchResult.documents}}
      <tr>
        <td class="text-center">{{this.title}}</td>
        <td class="text-center">{{this.arthors}}</td>
        <td class="text-center">{{this.publisher}}</td>
        <td class="text-center">{{this.status}}</td>

        <td class="text-center">
          <input type="checkbox" class="checkbox" data-isbn="{{this.isbn}}" >
        </td>
        <td>
          <button type="button" class="btn btn-primary detail-button" onclick="searchDetailBook({{this.isbn}})">
            Detail
          </button>
        </td>

      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

